
@{
    ViewBag.Title = "İletişim";
}

<div class="container-fluid bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column justify-content-center bg-primary h-100 p-5">
                    <div class="d-inline-flex border border-secondary p-4 mb-4">
                        <h1 class="flaticon-office font-weight-normal text-secondary m-0 mr-3"></h1>
                        <div class="d-flex flex-column">
                            <h4>Ofisimiz</h4>
                            <p class="m-0 text-white">
                                Büyükdere Meşelik Yerleşkesi, 26040 Odunpazarı/Eskişehir

                            </p>
                        </div>
                    </div>
                    <div class="d-inline-flex border border-secondary p-4 mb-4">
                        <h1 class="flaticon-email font-weight-normal text-secondary m-0 mr-3"></h1>
                        <div class="d-flex flex-column">
                            <h4>E-Posta Adresi :</h4>
                            <p class="m-0 text-white">eslemba@gmail.com</p>
                        </div>
                    </div>
                    <div class="d-inline-flex border border-secondary p-4">
                        <h1 class="flaticon-telephone font-weight-normal text-secondary m-0 mr-3"></h1>
                        <div class="d-flex flex-column">
                            <h4>Bizi Arayın</h4>
                            <p class="m-0 text-white">+90 531 798 7982</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-5 my-lg-5 py-5 pl-lg-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="name" placeholder="Adınızı Girin" required="required" data-validation-required-message="Adınızı Girin" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control p-4" id="email" placeholder="E-Posta Adresinizi Girin" required="required" data-validation-required-message="E-Posta Adresinizi Girin" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="subject" placeholder="Konu" required="required" data-validation-required-message="Konu Girin" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control p-4" rows="6" id="message" placeholder="Mesaj" minlength="5" required="required" data-validation-required-message="Lütfen Mesaj Girin"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
