@model filmdizikitap.Models.Category

@{
    ViewBag.Title = "Sil";
}
<br /><br />
<div style="margin-left:20%;" class="col-md-8">
    <h2>Kategori Sil</h2>

    <h3>Silmek İstediğinize Emin Misiniz ?</h3>
    <div>

        <h4>Kategori Adı : <small> @Html.DisplayFor(model => model.KategoriAdi)</small> </h4>
        <hr />



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" /> 
                @Html.ActionLink("Listeye Dön", "Index",null, new {@class = "btn btn-primary"})
            </div>
        }
    </div>
</div>
<br /><br />